# Default ignored files
*.hdf5
# IDEA config files
.idea/
.idea/workspace.xml

/shelf/
# Datasource local storage ignored files
/../../../../../:\PycharmProjects\nas-fedot multiclass\nas-fedot\.idea/dataSources/
/../../../../../:\PycharmProjects\nas-fedot multiclass\nas-fedot\.idea
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/