typing~=3.7.4.3
fedot==0.7.0
scikit-learn~=1.2.2
opencv-python
numpy~=1.23.4
pandas~=1.4.3
keras~=2.10.0
torch~=1.11.0
matplotlib~=3.5.3
psutil~=5.9.3
requests~=2.28.1
setuptools~=67.8.0
nvidia-ml-py3
thegolem==0.3.1